* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(197, 177, 151);
    color: rgb(82, 80, 80);
}

header {
    background-color: rgb(88, 11, 11);
}

nav {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 18px 20px;
    transition: background-color 0.2s;
}

nav a:hover {
    background-color: rgb(148, 117, 117);
}

nav a.activo {
    background-color: rgb(124, 124, 123);
}

main {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

.formulario-container {
    background-color: aliceblue;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgb(88, 11, 11);
}


form {
    display: grid;
    gap: 19px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.campo label {
    font-weight: bold;
}

.campo input {
    padding: 10px;
    border: 1px solid crimson;
    border-radius: 7px;
    font-size: 17px;
}

.campo input:focus {
    outline: none; /*sin reborde*/
    border-color: rgb(35, 70, 58);
    box-shadow: 0 0 0 3px rgba(114, 27, 27, 0.699);
}

button {
    padding: 11px 18px;
    border: none;
    border-radius: 7px;
    background-color: rgb(110, 33, 28);
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(30, 30, 85);
}

.lista-container {
    background-color: rgb(244, 247, 248);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(105, 83, 83);
}

form button {
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid coral;
    text-align: left;
}

th {
    background-color: rgba(235, 60, 60, 0.527);
}

.mje-exito {
    background-color: rgba(39, 121, 59, 0.5);
}

.mensaje {
    position: fixed;
    top: 40px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgba(55, 38, 153, 0.507);
    color: rgba(8, 16, 122, 0.705);
    box-shadow: 0 4px 10px rgb(61, 160, 226);
    z-index: 1000;
    display: none;
}

.mje-error {
    background-color: rgba(114, 27, 27, 0.699);
   
}

.mje-adv {
    background-color: rgb(248, 224, 6);
}

.inicio {
    text-align: center;
    max-width: 1000px;
}

.inicio > p {
    margin-bottom: 40px;
}

.modulos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.tarjeta {
    display: block;
    text-decoration: none;
    color: bisque;
    background-color: aliceblue;
    padding: 35px 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(94, 54, 54, 0.699);
    transition: transform 0.2, box-shadow 0.2s;
}

.tarjeta:hover {
    transform: translateY(-4px);
    box-shadow: rgba(114, 27, 27, 0.699);
}

.tarjeta i {
    font-size: 40px;
    margin-bottom: 15px;
    color: blue;
}

.tarjeta h2 {
    margin: 10px 0;
}

.tarjeta p {
    color: aquamarine;
}

.tarjeta-deshabilitada {
    opacity: 0.5;
    cursor: default;
}
 
.tarjeta-deshabilitada:hover {
    transform: none;
    box-shadow: 0 2px 8px rgba(68, 35, 35, 0.699);
}

.acciones-form {
    display: flex;
    gap: 10px;
}

.btn-Cancelar {
    background-color: antiquewhite;
}

.btn-Cancelar:hover {
    background-color: aqua;
}